<.flash_group flash={@flash} />

<div class="flex flex-row h-screen">
  <BlurredWeb.Sections.ServersSection.servers_section />
  <BlurredWeb.Sections.FriendsSection.friends_section />
  <div class="w-full h-full"></div>
</div>
